In [1]:
print ("hello, welcome to DSA AL/ML class")

hello, welcome to DSA AL/ML class

In [1]:
print ("hello samson")

hello samson

In [5]:
print ("i love football")

i love football

In [17]:
tope = 5 
emma = 6
tope+emma

11

In [13]:
print (tope+emma)

11

In [19]:
tope/emma

0.8333333333333334

In [21]:
print ("my name is irene")

my name is irene

In [24]:
# Pandas Practical Examples
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
 #Creating DataFrames
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, np.nan, 22],
    'Score': [85, 90, 95, None]}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       Name   Age  Score
0    Alice  25.0   85.0
1      Bob  30.0   90.0
2  Charlie   NaN   95.0
3    David  22.0    NaN

In [30]:
# 2. Handling missing data
print("Missing values:\n", df.isnull())

Missing values:
     Name    Age  Score
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False   True

In [32]:
df_filled = df.fillna({'Age': df['Age'].mean(), 'Score': df['Score'].mean()})
print("Filled DataFrame:\n", df_filled)

Filled DataFrame:
       Name        Age  Score
0    Alice  25.000000   85.0
1      Bob  30.000000   90.0
2  Charlie  25.666667   95.0
3    David  22.000000   90.0

In [34]:
# 3. Filtering and selection
print("Ages > 24:\n", df[df['Age'] > 24])

Ages > 24:
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob  30.0   90.0

In [36]:
# 4. Grouping and aggregation
grouped = df_filled.groupby('Name').agg({'Score': 'mean'})
print("Grouped by name:\n", grouped)

Grouped by name:
          Score
Name
Alice     85.0
Bob       90.0
Charlie   95.0
David     90.0

In [ ]:
# Creating a Series
s = pd.Series([10, 20, 30, 40], name="Numbers")
print("Series:\n", s)

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90, 85, 88]
}
df = pd.DataFrame(data)

In [38]:
print("\nDataFrame:\n", df)

DataFrame:
       Name   Age  Score
0    Alice  25.0   85.0
1      Bob  30.0   90.0
2  Charlie   NaN   95.0
3    David  22.0    NaN

In [7]:
x = (0,1,2,3,4)
print (x)

(0, 1, 2, 3, 4)

In [21]:
df= {"age":25, "name": "john"}
print(df["name"], df["age"])

john 25